<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="paper-finder-container">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `paper-finder-container`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperFinderContainer extends Polymer.Element {
      static get is() { return 'paper-finder-container'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'paper-finder-container'
          }
        };
      }
    }

    window.customElements.define(PaperFinderContainer.is, PaperFinderContainer);
  </script>
</dom-module>
