<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/button-search/button-search.html">
<link rel="import" href="bower_components/paper-finder/paper-finder-sit.html">

<dom-module id="paper-finder-container">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <button-search id="button_search" on-search="_searching"></button-search>
    <paper-finder-sit content="[[content]]" title="[[title]]" 
    on-like-clicked="_likeClicked"
    on-send-event="_reloading"></paper-finder-sit>

    <template is="dom-if" if="[[_hideSearchBar(title)]]">
      <button-search id="button_search" on-search="_searching"></button-search>
    </template>
    <paper-finder-sit content="[[content]]" title="[[title]]" 
    on-like-clicked="_likeClicked"
    on-send-event="_reloading"></paper-finder-sit>
  </template>

  <script>
    class PaperFinderContainer extends Polymer.Element {
      static get is() { return 'paper-finder-container'; }
      static get properties() {
        return {
          content : {
            type : Object,
          },
          title : {
            type : String,
            notify : true,
            value: '',
          }
        };
      };

      ready(){
        super.ready();
        this.addEventListener('title-changed', this._hideSearchBar);
      };

      _hideSearchBar(title){
        if(title.length==""){
          return true;
        }

        else if(title.length!==0){
          return false;
        }
      }

      async _searching(e) {
        e.stopPropagation();
        const finderContainer = document.getElementById('finder-container');
        const query = e.detail.data.toLowerCase().replace(' ', '_');
        const response = await fetch(
          `https://api.unsplash.com/search/photos?page=1&query=${query}?&client_id=dfb3f81ecbddcb11c864491935439d1193e3dcc7f99540b7d6c9ec3915b56fcd`
          );
        const data = await response.json();
        const result = {
          icon: {
            name: 'icons:refresh',
            event: 'refresh',
          },
          data: await data.results.map(photo => {
            return {
              img_url: photo.urls.small,
              title: photo.description,
              text: photo.alt_description,
              icons : [
                {
                  name : 'icons:favorite',
                  amount: photo.likes,
                  event: 'like-clicked'
                }
              ]
            }
          })
        };
        finderContainer.set('title', e.detail.data);
        finderContainer.set('content', JSON.parse(JSON.stringify(result)));
      }

      _reloading(e){
        location.reload(); 
      }

      _likeClicked(e){ 
        console.log(e.detail);
      }

    }
    window.customElements.define(PaperFinderContainer.is, PaperFinderContainer);
  </script>
</dom-module>
